<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DashBoard</title>
  <style> 
  body{
    box-sizing: border-box;
  }
  a{
    display: block;
    background-color: blue;
    color: white;
    text-decoration: none;
    height: 5%;
    width: 5%;
  }
  </style>
</head>
<body>
  <h1>Welcome <%=user.name%></h1>
  <a href="/auth/logout">logout</a>
  <div class='chat-form'>
    <form action="/chat" method="GET">
    <label for="name">Name</label>
    <input type="text" name='name' id='name' value=<%=user.name%> readonly>
    <input type="submit" value="Chat">
  </form>
  </div>
</body>
</html>